<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Главная</a>
      </li>
      <li>
        <a href="/sponsors">Спонсоры</a>
      </li>
      <li>
        <a href="/prizes">Призы</a>
      </li>
      <li>
        <a href="/participants">Участники</a>
      </li>
      <li>
        <a href="https://docs.google.com/document/d/1V8kHymGV45UO1r2i6CiEHcS9PxcImL2GU9QofmiKUz8/edit?usp=sharing">Условия участия</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe75E2SrTOP7bIxTkf2tBn3BhlfRuMcUQ3mgDgc1KiwFRCkCQ/viewform?usp=sf_link">Регистрация</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/cm2_logo.png">
    </a>
    <h1>Code Marathon 2.0</h1>
    <p>Официальная страница контеста проводимого для учеников ОСШИ "Одаренность"</p>
  </div>
</div>