<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Главная</a>
      </li>
      <li>
        <a href="/sponsors">Спонсоры</a>
      </li>
      <li>
        <a href="/developers">Разработчики</a>
      </li>
      <li>
        <a href="/prizes">Призы</a>
      </li>
      <li>
        <a href="/conditions">Условия участия</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/cm2_logo.png">
    </a>
    <h1>Code Marathon 2.0</h1>
    <p>Официальная страница контеста проводимого для учеников ОСШИ "Одаренность"</p>
    <strong><h1 id="demo">Турнир окончен!</h1></strong>
  </div>
</div>
