<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
	<h2 align="center">Чемпионат по Олимпиадному Програмированнию</h2>
	<h2 align="center">"Одаренность II"</h2>
	<h3 align="left">Условия участия</h3>
	<ol>	
	<li>Быть школьником ОСШИ "Одаренность" </li>
	<li>Иметь аккаунт на <a href="http://acmp.ru/">ACMP </a></li>
	<li>Зарегистрироватся</li>
	</ol>	
	<h3 allign="left">Сроки проведения</h3>
	<ol>	
	<li>Начало Чемпионата - 2 ноября 2017 года. </li>
	<li>Конец Чемпионата - 21 января 2018 года.</li>
	<li>Подведение итогов и награждение - 25 января 2018 года.</li>
	</ol>
	<h3 allign="left">Правила участия</h3>
	<ol>	
	<li>На разрешается посылать чужие решения. </li>
	<li>Не разрешается использовать чужие аккаунты.</li>
	</ol>
	<pre>   !!!За нарушение правил учасник будет дисквалифицирован</pre>	
	<h3 allign="left">Общая информация</h3>
	<ol>	
	<li>Места будут распределены между учасниками в трех дивизионах соответсвенно их рейтингу на момент окончания чемпионата</li>
	<li>Рейтинг чемпионата расчитывается как разница официального рейтинга учасника на сайте <a href="http://acmp.ru/">acmp.ru</a> на 		момент регистрации и на момент окончания чемпионата. Также в рейтинг чемпионата включаются бонусные баллы, которые можно получить 		за разную активность.</li> 
	</ol>
</body>
</html>
