<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <table class="table">
    <tr>
      <td><img src="image_evgenii_kanivets.png" class="img-circle" width="125" height="125"></td>
      <td>
        <h3><a href="https://github.com/evgenii-kanivets">Канивец Евгений</a></h3>
        <p>Образование: ХНЕУ, 6-й курс франко-украинской программы двойного диплома</p>
       <p>Интересы: Algorithms and Data Structures, Android, iOS</p>
      </td>
    </tr>
    <tr>
      <td><img src="artem_laptev.jpeg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://github.com/julikk9872">Лаптев Артем</a></h3>
        <p>Класс: 9-А</p>
        <p>Интересы: C++, HTML, Java, Python, Pascal</p>
      </td>
    </tr>
    <tr>
      <td><img src="andrey_kreydun.jpeg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://github.com/undisputeDD">Крейдун Андрей</a></h3>
        <p>Класс: 11-В</p>
        <p>Интересы: C++, Python, HTML/CSS</p>
      </td>
    </tr>
    <tr>
      <td><img src="evtushenko_bogdan.jpg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://github.com/evtushenko-bogdan">Евтушенко Богдан</a></h3>
        <p>Класс: 10-А</p>
        <p>Интересы: C++, Python, HTML/CSS</p>
      </td>
    </tr>
    <tr>
      <td><img src="kravchenko_daniil.jpeg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://github.com/yam24bot">Кравченко Даниил</a></h3>
        <p>Класс: 11-В</p>
        <p>Интересы: Java, Python, C++</p>
      </td>
    </tr>
      <td><img src="melnik_mixail.jpeg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://github.com/sOM2H">Мельник Михаил</a></h3>
        <p>Класс: 11-В</p>
        <p>Интересы: Ruby, С, С++, Python, PHP</p>
      </td>
    </tr>
      <td><img src="maxim_garmash.jpeg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://github.com/skinnylxrd">Гармаш Максим</a></h3>
        <p>Класс: 11-В</p>
        <p>Интересы: C++, Pascal, Kotlin</p>
      </td>
    </tr>
      <td><img src="talancev_mixail.jpeg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://github.com/LuxTenebris">Таланцев Михаил</a></h3>
        <p>Класс: 10-А</p>
        <p>Интересы: Kotlin, Java, C++, C, Python</p>
      </td>
    </tr>
      <td><img src="yurii_kovalenko.jpeg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://github.com/Yuri12358">Коваленко Юрий</a></h3>
        <p>Класс: 11-В</p>
        <p>Интересы: C, C++, Ruby, Assembler</p>
      </td>
    </tr>
  </table>
</div>

</body>
</html>
