<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/header.ejs %>
 </head>
  
<body>
	<%include ../partials/nav.ejs %>

	<div class="container">
	<table>
	 <tr>
	  <td><img src="file:///C:/Users/Andrey/Desktop/photo_2015-05-05_11-17-45.jpg" width="125" heidht="125"></td>
	   <td>
	    <h3><a href="https://github.com/evgenii-kanivets">Канивец Евгений Олексеевич</a></h3>
	    <p>Образование: ХНЕУ, 6-й курс франко-украинской программы двойного диплома</p>
	    <p>Работа: Software Developer @ Freelance</p>
	   </td>
	 </tr>
	  <tr>
	   <td><img src="file:///C:/Users/Andrey/Desktop/photo_2017-12-17_18-26-30.jpg" width="125" height="125"></td>
	    <td>	
	     <h3><a href="https://github.com/julikk9872">Лаптев Артем Андреевич</a></h3>
	     <p>Класс 9-А</p>
	     <p>Интересы:Программирование, легкая атлетика</p>
	    </td>
	 </tr>
	 <tr>
	  <td><img src="file:///C:/Users/Andrey/Desktop/photo_2017-10-01_15-16-43.jpg" width="125" heidht="125"></td>
	   <td>
	    <h3><a href="https://github.com/Yuri12358">Коваленко Юрий Олексеевич</a></h3>
	    <p>Класс 11-В</p>
 	    <p>Интересы: Прораммирование</p>
	   </td>
	 </tr>
	 <tr>
	  <td><img src="file:///C:/Users/Andrey/Desktop/photo_2017-10-22_00-52-57.jpg" width="125" heidht="125"></td>
	   <td>
	    <h3><a href="https://github.com/LuxTenebris">Таланцев Михаил Евгениевич</a></h3>
	    <p>Класс 10-А</p>
	    <p>Интересы: Прораммирование</p>
	   </td>
	 </tr> 
	 <tr>
	  <td><img src="file:///C:/Users/Andrey/Desktop/photo_2017-12-08_20-17-17.jpg" width="125" heidht="125"></td>
	   <td>
	    <h3><a href="https://github.com/yam24bot">Кравченко Даниил Максимович</a></h3>
	    <p>Класс 11-В</p>
	    <p>Интересы: Прораммирование</p>
	   </td>
	 </tr>
         <tr>
	  <td><img src="file:///C:/Users/Andrey/Desktop/photo_2017-12-04_22-51-37.jpg" width="125" heidht="125"></td>
	   <td>
	    <h3><a href="https://github.com/sOM2H">Мельник Михаил Дмитриевич</a></h3>
	    <p>Класс 11-B</p>
	    <p>Интересы: Прораммирование</p>
	   </td>
	 </tr>
	 <tr>
	  <td><img src="file:///C:/Users/Andrey/Desktop/photo_2017-05-20_19-01-52.jpg" width="125" heidht="125"></td>
	   <td>
	    <h3><a href="https://github.com/skinnylxrd">Гармаш Максим Сергеевич</a></h3>
	    <p>Класс 11-В</p>
	    <p>Интересы: Прораммирование</p>
	   </td>
	 </tr>
         <tr>
	  <td><img src="ile:///C:/Users/Andrey/Desktop/photo_2017-08-01_23-33-30.jpg" width="125" heidht="125"></td>
	   <td>
	    <h3><a href="https://github.com/undisputeDD">Крейдун Андрей Николаевич</a></h3>
	    <p>Класс 11-В</p>
	    <p>Интересы: Прораммирование</p>
	   </td>
	 </tr>
         <tr>
	  <td><img src="file:///C:/Users/Andrey/Desktop/photo_2017-05-20_19-01-52.jpg" width="125" heidht="125"></td>
	   <td>
	    <h3><a href="https://github.com/evtushenko-bogdan">Евтушенко Богдан Витальевич</a></h3>
	    <p>Класс 11-В</p>
	    <p>Интересы: Прораммирование</p>
	   </td>
	 </tr>   
	</table>
	</div>
  </body>
  </head>
</html>