<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <table class="table">
      <caption><h3>Div1</h3></caption>
      <tbody>
        <tr class="info">
          <td class="text-center">
            <img src="prize_1_1.png" class="img-circle" width="250" height="250">
            <h4>1x Raspberry Pi 3 Model 3</h4>
          </td>
          <td class="text-center">
            <img src="prize_1_2.png" class="img-circle" width="250" height="250">
            <h4>2x Panasonic Earpads RP-HF300</h4>
          </td>
          <td class="text-center">
            <img src="prize_1_3.png" class="img-circle" width="250" height="250">
            <h4>3x Xiaomi Piston Fresh Bloom</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <table class="table">
      <caption><h3>Div2</h3></caption>
      <tbody>
        <tr class="info">
          <td class="text-center">
            <img src="prize_2_1.png" class="img-circle" width="250" height="250">
            <h4>1x Philips SBA-3011</h4>
          </td>
          <td class="text-center">
            <img src="prize_2_2.jpg" class="img-circle" width="250" height="250">
            <h4>2x Xiaomi Mi Power Bank 5000mAh</h4>
          </td>
          <td class="text-center">
            <img src="prize_2_3.png" class="img-circle" width="250" height="250">
            <h4>3x USB Flash Drive 16 GB</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <table class="table">
      <caption><h3>Div3</h3></caption>
      <tbody>
        <tr class="info">
          <td class="text-center">
            <img src="prize_3_1.png" class="img-circle" width="250" height="250">
            <h4>1x Power Bank 11000mAh</h4>
          </td>
          <td class="text-center">
            <img src="prize_3_2.png" class="img-circle" width="250" height="250">
            <h4>2x Nomi VR Box</h4>
          </td>
          <td class="text-center">
            <img src="prize_3_3.png" class="img-circle" width="250" height="250">
            <h4>3x USB Flash Drive 16 GB</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
