<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <table class="table">
    <tr>
      <td><img src="image_efimova_yana.png" class="img-circle" width="125" height="125"></td>
      <td>
        <h3>Ефимова Яна Валентиновна</h3>
        <p>Работа: Учитель информатики @ ОСШИ "Одарённость"</p>
      </td>
    </tr>
    <tr>
      <td><img src="image_alla_dubovska.jpg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://www.linkedin.com/in/alladubovska/">Дубовская Алла Викторовна</a></h3>
        <p>Образование: ХНЕУ, 6-й курс франко-украинской программы двойного диплома</p>
        <p>Работа: Mobile Developer @ CruxLab, Inc</p>
      </td>
    </tr>
    <tr>
      <td><img src="image_evgenii_kanivets.png" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://www.linkedin.com/in/evgeniikanivets/">Канивец Евгений Алексеевич</a></h3>
        <p>Образование: ХНЕУ, 6-й курс франко-украинской программы двойного диплома</p>
        <p>Работа: Software Developer @ Freelance</p>
      </td>
    </tr>
    <tr>
      <td><img src="image_vitalii_obideiko.png" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://www.linkedin.com/in/vitalii-obideiko-29072511a/">Обидейко Виталий Владимирович</a></h3>
        <p>Образование: ХНЕУ, 6-й курс магистратуры</p>
        <p>Работа: Android Developer @ Factorial Complexity</p>
      </td>
    </tr>
    <tr>
      <td><img src="image_smerchinckij_dmitrij.jpg" class="img-circle" width="125" height="125"></td>
      <td>
	<h3><a href="https://www.linkedin.com/in/dmitriy-diviator-smerchinskiy/">Смерчинский Дмитрий Геннадиевич</a></h3>
        <p>Образование: ХНЕУ, аспирант</p>
        <p>Работа: Android Developer @ Brightgrove Ltd.</p>
      </td>
    </tr>
  </table>
</div>

</body>
</html>
